.final-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 15px;
}

.final{
    position: relative;
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: column-reverse;
    height: 197.5px;
    width: 135px;
    margin: 8px 5px;
}

.movie-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 82.5%;
    z-index: 1000;
}

/*---------------------------POSTER IMG AND BORDER ------------------------*/


.tile{
    display: block;
    position: relative;
    width: 125px;
    margin: 5px;
    margin-top: 0;
    transition: transform 0.3s ease;
    z-index: 3;
    cursor: pointer;
    z-index: 1001;
    transform: scale(1.1);
}

.tile div{
    box-shadow: inset 0 0 1px #def;
    box-sizing: border-box;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: 110%;
    top: 0;
}


.poster{
    width: 125px;
    border-radius: 3px;
    display: block;
}


.tile:hover, .final:hover .tile {
    transform: scale(1.15);
}


.poster .border{
    border: 1px solid #def;
    border-radius: 3px;
    box-shadow: inset 0 0 1px 1px rgba(20, 24, 28, .125);
    display: block;
    overflow: hidden;
    position: absolute;

    top: -3px;
    bottom: -3px;
    right: -3px;
    left: -3px;

    transition: border .3s linear;
    white-space: nowrap;
}

.poster:hover .border, .final:hover .border{
    border-width: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: border .3s linear;
}


.active-border {
    border-width: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: border 0.3s linear;
}

.gradient-fade{
    display: block;
    width: 100%;
    height: 100%;
}

.liked-gradient {
    background: linear-gradient(to top, rgba(0, 224, 84, 0), rgba(255, 128, 0, 1), rgba(0, 224, 84, 0));
    background-size: 600% 600%;
    opacity: 0;
    animation: orange-gradient 2s forwards;
}

@keyframes orange-gradient {
    0%{
        background-position:50% 0%;
        opacity: 1;
    }
    100%{
        background-position:50% 100%;
        opacity: 0;
    }
}

.viewed-gradient {
    background: linear-gradient(to top, rgba(0, 224, 84, 0), rgba(0, 224, 84, 1), rgba(0, 224, 84, 0));
    background-size: 600% 600%;
    opacity: 0;
    animation: green-gradient 2s forwards;
}

@keyframes green-gradient {
    0%{
        background-position:50% 0%;
        opacity: 1;
    }
    100%{
        background-position:50% 100%;
        opacity: 0;
    }
}

.rated-gradient {
    background: linear-gradient(to top, rgba(0, 224, 84, 0), rgba(62, 189, 244, 1), rgba(0, 224, 84, 0));
    background-size: 600% 600%;
    opacity: 0;
    animation: blue-gradient 2s forwards;
}

@keyframes blue-gradient {
    0%{
        background-position:50% 0%;
        opacity: 1;
    }
    100%{
        background-position:50% 100%;
        opacity: 0;
    }
}



/*---------------------------OVERLAY WITH ICONS ------------------------*/

.overlay {
    display: inline;
    background: rgba(0, 0, 0, 0.7);
    bottom: -55px;
    height: 55px;
    left: 0;
    position: absolute;
    width: 100%;
    transition: bottom 0.4s ease, opacity 0.4s ease;
    opacity: 0; /* Initially hidden */
}

.poster:hover .overlay {
    bottom: -23px;
    opacity: 1;
}

.final:hover .overlay {
    bottom: -23px;
    opacity: 1;
}

.icons {
    display: block;
    width: 92px;
    height: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 auto;
}

.icon {
    display: block;
    width: 23px;
    height: 15px;
    margin: auto;
}

.poster:hover .ratings{
    bottom: 0 !important;
    opacity: 1;
}

.final:hover .ratings{
    bottom: 0 !important;
    opacity: 1;
}

.stars{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}
.star-parts{
    display: flex;
    position: relative;
    width: 16px;
    margin: 0 1px;
    font-size:0
}
.star{
    display: flex;
    width: 16px;
    opacity: 0.6;
    z-index: 4;
}
.star-left, .star-right{
    display:block;
    position: absolute;
    opacity: 0.6;
    width: 8px;
    z-index: 5;
    letter-spacing: 0;
    font-size: 0;
    overflow: visible;
}

.star-left{
    left: 0;
}
.star-right{
    right: 0;
}

.star-x {
    position: absolute;
    left: 19.5px;
    top: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
    transition: 0.5s opacity ease, 0.3s left ease, 0.3s transform ease;
    z-index: 4;
}

.star-x-visible {
    left: 5px;
    opacity: 1;
}
.star-x-visible:hover{
    opacity: 0.6;
}
.star-x-visible:active{
    transform: scale(.9);
}


.selected-active-down {
    opacity: 0.6 !important;
    filter: invert(63%) sepia(86%) saturate(1088%) hue-rotate(168deg) brightness(97%) contrast(96%) !important;
}
.selected-active-up {
    opacity: 1;
    filter: invert(63%) sepia(86%) saturate(1088%) hue-rotate(168deg) brightness(97%) contrast(96%);
}

.hover-opacity {
    opacity: 0.6;
    filter: invert(63%) sepia(86%) saturate(1088%) hue-rotate(168deg) brightness(97%) contrast(96%);
}


/*---------------------------TOOLTIP MOVIE TITLE ------------------------*/

.tooltip{
    position: absolute;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 2px 0 2px;
    z-index: 2;
    margin-bottom: 3px;
    opacity: 0;
    transition: top .4s ease, opacity .4s ease;
    transition-delay: 0s;
    z-index: 1000;
}
.tooltip-arrow{
    display: block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #456;
}
.tooltip-text{
    display: block;
    background: #456;
    border-radius: 30px;
    max-width: 360px;
    
    font-family: Sharp Grotesk, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #bcd;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);

    padding: 6px 12px 5px;
    margin: 0;
    margin-bottom: -0.5px;
    overflow: hidden;
    white-space: nowrap;
}

.tile:hover + .tooltip{
    top: -45px;
    opacity: 1;
    transition-delay: 1.5s;
}
.final:hover .tooltip{
    top: -45px;
    opacity: 1;
    transition-delay: 1.5s;
}


#pride-and-prejudice .tooltip{
    z-index: 1000;
}
#pride-and-prejudice .tile{
    z-index: 1200;
}

#jaws .tooltip{
    z-index: 1300;
}

#jaws .tile{
    z-index: 1500;
}

#howls-moving-castle .tooltip{
    z-index: 1600;
}

#howls-moving-castle .tile{
    z-index: 1800;
}

/*---------------------------MORE BUTTON INTERACTION ------------------------*/
.more-default{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.menu{
    scale: 1;
    transition: 0.3s transform ease, 0.4s filter ease;
}

.menu:hover{
    opacity: 0.6;
}
.menu:active{
    transform: scale(0.9);
}


.more-menu{
    position: absolute;
    top: 32px;
    left: 119px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    transition: top .4s ease, opacity .4s ease;
    transition-delay: 0s;
    z-index: 2000;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    cursor: pointer;
    box-shadow: 4px 4px 13.01px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

}
.more-menu div{
    display: block;
    background: #456;
    border-radius: 3px;
    max-width: 360px;
}
.menu-arrow {
    display: block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #456;
    margin-bottom: 6px;
    transition: 0.3s border-right ease;
}
.menu-text{
    height: 28px;
    width: 152px;
    font-family: Sharp Grotesk, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #bcd;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);

    padding: 6px 12px 5px;
    margin: 0;
    margin-bottom: -0.5px;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px #222A33 solid;
    border-top: 1px #222A33 solid;
    transition: 0.3s background-color ease, 0.3s font-size ease, 0.3s line-height ease;
}

.menu-text:last-child{
    border-bottom: 0;
}
.menu-text:first-child{
    border-top: 0;
}
.menu-text:last-child:hover{
    border-radius: 0 0 3px 3px;
}
.menu-text:first-child:hover{
    border-radius: 3px 3px 0 0;
}

.menu-text:hover{
    background-color: #364452;
}
.menu-text:active{
    background-color: #364452;
    font-size: 11px;
    line-height: 1.4;
    color: rgba(187, 204, 221, .5);
}

.more-menu.menu-default {
    visibility: hidden;
    opacity: 0;
}

.more-menu.menu-active {
    visibility: visible;
    opacity: 1;
}

.more-menu-up{
    top: 5.5px !important;
}



/*---------------------------VIEW BUTTON INTERACTION ------------------------*/
.view-default{
    opacity: 1;
    transition: opacity 0.2s ease;
}
.view:hover{
    opacity: 0.6;
}
.view{
    scale: 1;
    transition: 0.3s transform ease, 0.4s filter ease;
}
.view:active{
    transform: scale(0.9);
}
.view-active{
    filter: invert(64%) sepia(56%) saturate(2485%) hue-rotate(95deg) brightness(97%) contrast(109%);
}

.border-view{
    animation: green-border-in .6s forwards;
}
.border-view-away{
    animation: green-border-out .6s forwards;
}
.border-like-to-view{
    animation: orange-to-green .6s forwards;
}
.border-view-to-like{
    animation: green-to-orange .6s forwards;
}
.border-view-to-rate{
    animation: green-to-blue .6s forwards;
}
.border-rate-to-view{
    animation: blue-to-green .6s forwards;
}


@keyframes green-border-in {
	0% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #def, #def);
        border-image-slice: 1;
	}
	50% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #00E054, #def);
        border-image-slice: 1;
	}
	100% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #00E054, #00E054);
        border-image-slice: 1;
	}
}

@keyframes orange-to-green {
	0% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #FF8000, #FF8000);
        border-image-slice: 1;
	}
	50% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #00E054, #FF8000);
        border-image-slice: 1;
	}
	100% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #00E054, #00E054);
        border-image-slice: 1;
	}
}


@keyframes green-border-out {
	0% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #00E054, #00E054);
        border-image-slice: 1;
	}
	50% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #00E054, #def);
        border-image-slice: 1;
	}
	100% {
        border: 3px solid transparent;
        border-image: linear-gradient(to top, #def, #def);
        border-image-slice: 1;
	}
}

@keyframes green-to-orange {
	0% {
		border: 3px solid transparent;
        border-image: linear-gradient(to bottom, #00E054, #00E054);
        border-image-slice: 1;
	}
	50% {
		border: 3px solid transparent;
        border-image: linear-gradient(to bottom, #FF8000, #00E054);
        border-image-slice: 1;
	}
	100% {
		border: 3px solid transparent;
        border-image: linear-gradient(to bottom, #FF8000, #FF8000);
        border-image-slice: 1;
	}
}

@keyframes green-to-blue {
	0% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #00E054, #00E054);
        border-image-slice: 1;
	}
	50% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #3EBDF4, #00E054);
        border-image-slice: 1;
	}
	100% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #3EBDF4, #3EBDF4);
        border-image-slice: 1;
	}
}

@keyframes blue-to-green {
	0% {
		border: 3px solid transparent;
        border-image: linear-gradient(to bottom, #3EBDF4, #3EBDF4);
        border-image-slice: 1;
	}
	50% {
		border: 3px solid transparent;
        border-image: linear-gradient(to bottom, #00E054, #3EBDF4);
        border-image-slice: 1;
	}
	100% {
		border: 3px solid transparent;
        border-image: linear-gradient(to bottom, #00E054, #00E054);
        border-image-slice: 1;
	}
}


/*---------------------------LIKE BUTTON INTERACTION ------------------------*/

.like-default{
    opacity: 1;
    transition: opacity 0.2s ease;
}
.like:hover{
    opacity: 0.6;
}
.like{
    scale: 1;
    transition: 0.3s transform ease, 0.4s filter ease;
}
.like:active{
    transform: scale(0.9);
}
.like-active{
    filter: invert(59%) sepia(77%) saturate(3799%) hue-rotate(1deg) brightness(104%) contrast(105%);
}

.border-like{
    animation: orange-border-in .6s forwards;
}
.border-like-away{
    animation: orange-border-out .6s backwards;
}

@keyframes orange-border-in {
	0% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #def, #def);
        border-image-slice: 1;
	}
	50% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #FF8000, #def);
        border-image-slice: 1;
	}
	100% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #FF8000, #FF8000);
        border-image-slice: 1;
	}
}

@keyframes orange-border-out {
	0% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #FF8000, #FF8000);
        border-image-slice: 1;
	}
	50% {
		border: 3px solid transparent;
        border-image: linear-gradient(to top, #FF8000, #def);
        border-image-slice: 1;
	}
	100% {
        border: 3px solid transparent;
        border-image: linear-gradient(to top, #def, #def);
        border-image-slice: 1;
	}
}

/*---------------------------Page Change Loading ------------------------*/

.load-out{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    bottom: 0px;
    left: 0;
    position: absolute;
}

.loading-start{
    visibility: hidden;
    width: 40px;
    margin: 1px;
    transform: rotate(0deg);
}

.loading-loop {
    visibility: visible;
    width: 40px;
    margin: 1px;
    
    animation-name: loading-anim;
    animation-duration: .6s;
    animation-iteration-count: 1.5;
}

@keyframes loading-anim {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*-------ERROR MESSAGE---------*/
.error-message {
    position: fixed;
    margin: 10px;
    top: 0;
    left: 0;
    width: 350px;
    background-color: #FF8000;
    border-radius: 4px;
    visibility: hidden;
    transform: scale(1, 0);
    transform-origin: top center;
    transition: 0.3s transform ease;
}
.error-text{
    margin: 5px;
    font-size: 14px;
}

.error-visible{
    transform: scale(1, 1);
    transform-origin: top center;
    transition: 0.3s transform ease;
    visibility: visible;
    z-index: 2000;
}

@media (width <= 500px) {
    .final-container {
        flex-direction: column;
        align-items: center;
    }

    .tile:hover + .tooltip {
        top: -65px;
    }
    .final:hover .tooltip{
        top: -65px;
    }

    .final{
        margin: 30px 5px;
    }

    .tile{
        transform: scale(1.3);
    }

    .tile:hover, .final:hover .tile {
        transform: scale(1.35);
    }

    .more-menu {
        flex-direction: column-reverse;
        top: 210px;
        left: -9px;
    }

    .menu-arrow {
        border-top: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #456;
        margin-bottom: 0;
        transition: 0.3s border-bottom ease;
        margin-right: 28px;
    }

}


